<ion-view title="Cash" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

     <div class="progress-wrapper">
          <div class="progress">
              {{"$"+10}}
          </div>
        <div round-progress max="timeForTimer" current="30" clockwise="false" color="#bf474a" rounded="true" class="text-center"></div><br/><br/><br/>
        <button type="submit" class="button spacer  button-block button-outline button-balanced" ng-disabled="review_form.$invalid">Redeem</button>

      </div>

    </ion-content>
</ion-view>