<ion-view title="Cash" id="page3">
    <ion-content overflow-scroll="false" scroll="false" padding="true" class="has-header">

     <div class="progress-wrapper">
          <div class="progress">   
          
           <p>You earned</p>
           <h3>{{currentCash}}</h3>
          </div>
       <!--  <div round-progress max="maxCash" current="currentCash" clockwise="false" color="url(#gradient)" rounded="true" class="text-center"> -->
        <div round-progress max="maxCash" current="currentCash" clockwise="false" color="#b3cd52" rounded="true" class="text-center">
        <svg>
                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                        <stop offset="5%"  stop-color="#ffc900"/>
                        <stop offset="95%" stop-color="#b3cd52"/>
                    </linearGradient>
        </svg>
          

        </div>
        <br/>

		<ul class="list">
   			 <li class="item">
   			 <p style="text-align: center">Cash Back</p>
   			 <button class="button button-block button-royal">
  					Redeem
			 </button>      
    		</li>
    		<li class="item">
    		 <p style="text-align: center">Donate</p>
    		 <div class="button-bar">
  					<a class="button button-block button-energized ">10%</a>
  					<a class="button button-block button-balanced ">25%</a>
 				    <a class="button button-block button-assertive">50%</a>
			</div>
   			 <!-- <button class="button button-block button-positive">
  					Donate
			 </button>  -->     
    		</li>
		</ul>	

        <!-- <button type="submit" class="button spacer  button-block button-outline button-balanced" ng-disabled="review_form.$invalid">Redeem</button>
        <button type="submit" class="button spacer  button-block button-outline button-balanced" ng-disabled="review_form.$invalid">Donate</button> -->


      </div>

    </ion-content>
</ion-view>