<ion-view title="Reviews" id="page2">

  <!-- <ion-content overflow-scroll="true" padding="true" class="has-header"></ion-content>
 -->

<!-- Add Refresh Button -->
  <ion-nav-buttons side="right">
         <button class="button button-icon button-clear ion-ios-refresh-empty" ui-sref="tabs.reviews"></button>
  </ion-nav-buttons>

<!-- Add Title -->
  <ion-nav-title>
    <span>Review Cards</span>
  </ion-nav-title>

<!-- Add Content -->
  <ion-content scroll="false" ng-controller="ratingCtrl" ng-app="app">
    <ion-slide-box show-pager="true">
      <ion-slide ng-repeat="i in [1,2,3,4,5]" >
        <div class="list card" >


            <div class="item item-thumbnail-left">
              <img src="img/restaurant.jpg">
              <h2>Khan BBQ</h2>
              <p>2401 W Devon Ave, Chicago, IL 60659</p>
              <p>November 05, 2015, 10:40 AM</p>
              <p><span><b>$54.45</b></span> - How was your server Megan Kelly?</p>
              <i id="like_server" ng-class="{'icon ion-thumbsup icon-like': liked_server, 'icon ion-thumbsdown icon-unlike': !liked_server}" ng-click=rateServer()></i>
            </div>

          

          

      <ion-scroll direction="y" style="height: 175px">
        <div style="height: 175px"class="item item-body">
          <ion-list>
          
            <!-- <ion-item ng-repeat="item in [1,2,3,4,5]">
                  Chicken Tikka Masala {{item}}!
                  <ionic-ratings ratingsobj='ratingsObject' class="review" ng-click="itemReview(item)"></ionic-ratings>
            </ion-item> -->
            <ion-item ng-repeat="item in orderItems track by $id(item)">
                  {{item.name}}
                  <ionic-ratings ratingsobj='ratingsObject' class="review" ng-click="itemReview(item, $id)"></ionic-ratings>
            </ion-item>
          </ion-list>
        </div>
      </ion-scroll>
          

      
      <div class="item item-body padding"> 


            <i id="like_service" ng-class="{'icon ion-android-restaurant icon-like': liked_service, 'icon ion-android-restaurant icon-unlike': !liked_service}" ng-click="rateService()"></i>
            <i id="like_delivery" ng-class="{'icon ion-model-s icon-like': liked_delivery, 'icon ion-model-s icon-unlike': !liked_delivery}" ng-click="rateDelivery()"></i>
     
      </div>

    
            

        <div class="item item-body">    


            <label class="item item-input">
              <textarea placeholder="Tell us about your expereince.. "></textarea>
            </label>

            <button class="button button-block button-outline button-dark" ng-click="submitReview()">Submit</button>

            <!-- <p>order: {{message}}</p>
            <p>rating: {{userRating}}</p> -->

            <!-- <div ng-repeat="order in orders">
                I'm a new line. {{order}}
            </div> -->


            <div ng-repeat="(order, rating) in orders">
                {{order}} : {{rating}}
           </div>

  
   
        </div>      
      
          
         
   
      </ion-slide>
    </ion-slide-box>
  </ion-content>   
</ion-view>