<ion-view title="Reviews" id="page2">

  <!-- <ion-content overflow-scroll="true" padding="true" class="has-header"></ion-content>
 -->

<!-- Add Refresh Button -->
  <ion-nav-buttons side="right">
         <button class="button button-icon button-clear ion-ios-refresh-empty" ui-sref="tabs.reviews"></button>
  </ion-nav-buttons>

<!-- Add Title -->
  <ion-nav-title>
    <span>Review Cards</span>
  </ion-nav-title>

<!-- Add Content -->
  <ion-content scroll="false" ng-controller="ratingCtrl" ng-app="app">
  <!-- <div><p>{{receipts[1].name}}</p></div> -->
    <ion-slide-box show-pager="true" on-slide-changed="reviewSlideHasChanged(index)" active-slide="currentIndex">
      <ion-slide ng-repeat="receipt in receipts" ng-init="updateSlider()">
        <div class="list card" >


            <div class="item item-thumbnail-left">
              <img src="img/restaurant.jpg">
              <h2>{{receipt.name}}</h2>
              <p>{{receipt.time}}</p>
              <p>$54.43, How was Megan?</p>
              <i id="like_server" ng-class="{'icon ion-thumbsup icon-like': liked_server, 'icon ion-thumbsdown icon-unlike': !liked_server}" ng-click=rateServer()></i>
            </div>

          

          

      <ion-scroll direction="y" style="height: 175px">
        <div style="height: 175px"class="item item-body">
          <ion-list>
          
            
            <!-- <ion-item ng-repeat="item in receipt.order_details track by $id(item)">
                  {{item.order}}
                  <ionic-ratings ratingsobj='ratingsObject' class="review" ng-click="receiptReview(receipt, $id)"></ionic-ratings>
            </ion-item> -->

          </ion-list>
        </div>
      </ion-scroll>
          

      
      <div class="item item-body padding"> 


            <i style="float:left;" id="like_service" ng-class="{'icon ion-android-restaurant icon-like': liked_service, 'icon ion-android-restaurant icon-unlike': !liked_service}" ng-click="rateService()"></i>
            <i style="float:right;" id="like_delivery" ng-class="{'icon ion-model-s icon-like': liked_delivery, 'icon ion-model-s icon-unlike': !liked_delivery}" ng-click="rateDelivery()"></i>
     
      </div>

    
            

        <!-- <div class="item item-body">    --> 

        <label class="item item-input item-floating-label">
    <span class="input-label">Comments</span>
    <input type="text" placeholder="Comments">
  </label>

           <!--  <label style="align:center"class="item item-input padding">
                 <input type="text">
          </label> -->
            <!-- <label class="item item-input">
              <textarea placeholder="Tell us about your expereince.. "></textarea>
            </label> -->

            <button class="button ion-speakerphone button-block button-clear button-assertive" ng-click="submitReview()">&nbsp;&nbsp;&nbsp;Submit</button>

            
            

<!-- 
            <div ng-repeat="(order, rating) in orders">
                {{order}} : {{rating}}
           </div>
 -->
  
   
        <!-- </div>    -->   
      
          
         
   
      </ion-slide>
    </ion-slide-box>
   <!--  <p>{{message}}</p> -->
  </ion-content>   
</ion-view>