<ion-view title="Reviews" id="page2">

  <!-- <ion-content overflow-scroll="true" padding="true" class="has-header"></ion-content>
 -->

<!-- Add Refresh Button -->
  <ion-nav-buttons side="right">
         <button class="button button-icon button-clear ion-ios-refresh-empty" ui-sref="tabs.reviews"></button>
  </ion-nav-buttons>

<!-- Add Title -->
  <ion-nav-title>
    <span>Review Cards</span>
  </ion-nav-title>

<!-- Add Content -->
  <ion-content scroll=false  ng-app="app">
  <!-- <div><p>{{receipts[1].name}}</p></div> -->
    <ion-slide-box show-pager="true" on-slide-changed="reviewSlideHasChanged($index)" active-slide="currentIndex" scroll="true">
      <ion-slide ng-repeat="receipt in receipts |filter: { active: '1' }" ng-init="updateSlider()">
        <div class="list card" >


            <div class="item item-thumbnail-left">
              <img src={{receipt.url}}>
              <h2>{{receipt.name}}</h2>
              <p>{{receipt.time * 1000| date:'medium'}}</p>
              <p>{{"$"+receipt.amount+", How was "+receipt.server + "?"}}</p>
              <i id="like_server" ng-class="{'icon ion-thumbsup icon-like': liked_server, 'icon ion-thumbsdown icon-unlike': !liked_server}" ng-click=rateServer()></i>
            </div>

          

          

      <ion-scroll direction="y">
        <div style="height: 175px"class="item item-body">
          <ion-list>
          
            
            <ion-item ng-repeat="item in receipt.order_details track by $id(item)">
                  {{item.order}}
                  <ionic-ratings ratingsobj='ratingsObject' class="review" ng-click="receiptReview(receipt.id, item, $id)"></ionic-ratings>
            </ion-item>

          </ion-list>
        </div>
      </ion-scroll>
          

      
      <div class="item item-body padding"> 


            <i style="float:left;" id="like_service" ng-class="{'icon ion-android-restaurant icon-like': liked_service, 'icon ion-android-restaurant icon-unlike': !liked_service}" ng-click="rateService()"></i>
            <i style="float:right;" id="like_delivery" ng-class="{'icon ion-model-s icon-like': liked_delivery, 'icon ion-model-s icon-unlike': !liked_delivery}" ng-click="rateDelivery()"></i>
     
      </div>

    
            

        <!-- <div class="item item-body">    --> 
  <form name="review_form" ng-submit="submitReview(receipt, comments)">
  
 
  
  <label class="item item-input item-floating-label">
    <span class="input-label">Comments</span>
    <input type="text" placeholder="Comments" name="user_comments" ng-model="comments" required>
  </label>
  
  <button type="submit" class="button  button-block button-clear button-assertive" ng-disabled="review_form.$invalid">Submit</button>
  </form>
  </div>

            
            

<!-- 
            <div ng-repeat="(order, rating) in orders">
                {{order}} : {{rating}}
           </div>
 -->
  
   
        <!-- </div>    -->   
      
          
         
   
      </ion-slide>
    </ion-slide-box>
   <!--  <p>{{username}}</p> -->
  </ion-content>   
</ion-view>