<ion-view class="login-view auth-view splash branding" cache-view="false">
  <ion-content scroll="false">

    <!-- <div class="login-page app-name"><h3>Word on the Street!</h3></div> -->
    <div class="row ">
      <div class="col col-center">
        <!-- <div class="card login-container" content-tabs tabsdata='tabsdata'> -->
        <div class="card login-container">
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Email">
                <div class="list">
                  <label class="item item-input">
                    <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
                  </label>
                </div>               
            </my-tabs>

 

              <div ng-app="app" ng-controller="LoginCtrl"class="item item-body bottom-content" >
              <button type="submit" class="button button-outline button-dark button-block" ng-click="doLogin()" ng-disabled="login_form.$invalid">
                Log In
              </button>
              <div>
              <h3>{{message}}</h3>
              <h3>{{error}}</h3>
              </div>
            </div>
            
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-dark" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="sign-up button button-small button-clear button-dark" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
