@font-face {
  font-family: "storybook";
  src: url("../fonts/storybook.otf") format("opentype");
  font-weight: normal;
  font-style: normal; 
}



.splash{
	background: url("../../../img/splash.jpeg") 
	no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.app-name{
	margin-top:20px;
	text-align: center;

	h3{

	color: $dark;
	font-family: "storybook";
	font-size: 25px;
	

	}

}

.branding{
	width: 100%;
	margin: 0 auto;
	text-align: center;


	margin-top:0px;
}




.login_form{
    align:"center";
}


