.maps-view
{
	background-color: $wots-theme !important;

	.center-map-action
	{
		position: absolute;
		top: 35px;
		z-index: 9;

		.item.item-input-inset
		{
			padding: 0px 5px;
		}

		.item-input-wrapper
		{
			background: none;
		}
	}

	map
	{
		width: 100%;
		height: 100% !important;
	}

	.scroll, .mapWrap
	{
		height: 100%;
	}
}


.bar.item-input-inset .item-input-wrapper input {
    width: 100%;

}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}


.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}





